
.header {
  text-align: right;
  padding-bottom: 8px;
}

.format-selectbox {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.format-selectbox::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.format-selectbox select {
    appearance: none;
    min-width: 140px;
    height: 2.8em;
    padding: .2em calc(.8em + 30px) .2em .8em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #eee;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.tab-container {
  display: grid;
  grid-template-columns: auto 100px;
}

.add-table-button {
  display: inline-block;
  grid-column: 2;
  padding: 4px;
  margin: 4px;
}

.tab-list {
  grid-column: 1;
  margin: 4px;
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.tab-list-item {
	padding: 4px;
  min-width: 60px;
  max-width: 120px;
	border: 1px solid #333;
	display: inline-block; 
  background-color: #eee;
  text-align: center;
  color: #777;
	cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-list-item.active { 
  background-color: #99eee0;
  color: #333;
}

.tab-contents-item {
  display: none;
}

.tab-contents-item.show {
  display: block;
}

.tabulator-menu-item {
  color: #555;
}

.modal-column-list {
  max-height: 480px;
  overflow-y: auto;
}

.movableColumnName {
  background-color: #eee;
  margin: 2px 0;
  padding: 4px;
  color: #777;
  font-weight: 700;
}
